{% extends "home/layouts/main.html" %}

{% block content %}
    <!--HTML of the main homepage see the example right below-->
    <div class="col-md-12" style="margin-top:20px">
        <button class="btn btn-default col-md-12">Press Me</button>
    </div>
{% endblock %}

{% block localscripts %}
    <!-- 
        If for any reason you need some scripting for this 
        particular template just include them here or just
        writ them inline, whatever, your imagination is 
        the limit.
    -->
{% endblock %}